body {
    color: #161616;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

header, footer {
    background-color: #f3f3f3;
    padding: 20px;
}

.logo {
    font-size: 2rem;
    list-style: none;
}
