/* Task 1: Flexbox Layout */
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* Task 3: Additional Styling */
nav ul {
    display: flex;
    align-items: center;
    padding: 0;
}

nav li {
    margin-right: 20px;
    list-style: none;
}
